<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>9.1</string>
    <key>DTSDKName</key>
    <string>iphoneos9.1</string>
    <key>CFBundleName</key>
    <string>TravelNotes</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>api_base_path_debug</key>
    <string>http://121.40.167.145</string>
    <key>api_base_path</key>
    <string>http://e-traveltech.com</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>APP_PUBLISH_PARTNER</key>
    <string>105</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>游迹</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>weixin</string>
      <string>wtloginmqq2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqwpa</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqOpensdkSSLogin</string>
      <string>mqq</string>
      <string>mqzone</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>alipay</string>
      <string>cydia</string>
      <string>safepay</string>
      <string>mqqapi</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>使用您的位置来确定您所在的城市</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13B137</string>
    <key>CFBundleShortVersionString</key>
    <string>2.6.2</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>14F27</string>
    <key>DTPlatformBuild</key>
    <string>13B137</string>
    <key>UIFileSharingEnabled</key>
    <false/>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>DTXcodeBuild</key>
    <string>7B1005</string>
    <key>CFBundleVersion</key>
    <string>2.6.2</string>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>CUSTOM_LANGUAGE</key>
    <string>zh-Hans</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.ett.travelnote</string>
    <key>DTXcode</key>
    <string>0711</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>TravelNotes</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
      </dict>
    </dict>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>APP_PRODUCT_KEY</key>
    <string>3</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.ett.SummerPalace.es</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1104234620</string>
          <string>ETTTravelTrack</string>
          <string>wx0067c42a0e09513f</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
